body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-width: 500px;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

@font-face {
  font-family: NorseBold;
  src: url("Norse-Bold.otf") format("opentype");
}

.container {
  display: flex;
  flex-direction: row;
  height: inherit;
}

  .image {
    display: flex;
    flex-direction: column;
    background-image: url('images/sky.jpg');
    min-width: 500px;
    width: 60%;
    height: inherit;
    background-size: cover;
  }

    .logo {
      padding: 2em 0;
      display: flex;
      justify-content: center;
      height: 20vh;
      margin-top: 20vh;
      background-color: rgba(132, 9, 160, 0.519);
    }

      span#odin {
        align-items: center;
        color:aliceblue;
        font-size: 26vh;
        font-family: NorseBold;
      }

      img {
        height: 100%;
      }

    .credit {
      display: flex;
      margin-top: 45vh;
      justify-content: center;
    }

    a, .credit {
      color: rgb(177, 41, 244);
    }

  .form {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: rgb(237, 226, 238);
    padding-top: 10vh;
    background-color: rgba(46, 13, 98, 0.927);
  }

    .form > div {
      padding-left: 20px;
    }

    .motivation {
      margin: 20px 0;
    }

    form {
      margin-top: 10vh;
      background-color: rgba(107, 31, 228, 0.56);
      padding: 20px;
    }

    legend {
      margin-bottom: 20px;
    }

    .form-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    input, label {
      display: block;
      margin-right: 60px;
    }

    label {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-size: 0.6em;
      padding-left: 10px;
    }

    label[for=tel] > span {
      text-transform: lowercase;
      margin-left: 1em;
    }

    input {
      font-family: inherit;
      outline: none;
      box-sizing: border-box;
      background-color: rgb(52, 4, 60);
      border-radius: 10px;
      border: 1.5px solid blueviolet;
      color: rgb(237, 226, 238);
      font-size: .7em;
      width: 20em;
      margin-bottom: 20px;
      padding: 5px 10px;
    }

    input:focus {
      border: 1.5px solid white
    }

    input:valid {
      background-color: rgba(52, 11, 91, 0.432)
    }

    input[type=email]::placeholder {
      color: rgba(152, 147, 152, 0.64);
    }

    p#pwd_match {
      margin: -1rem 0 1rem;
      font-size: .7rem;
    }

    button {
      font-family: inherit;
      font-size: .8em;
      padding: 5px 15px;
      color:rgb(237, 226, 238);
      background-color: blueviolet;
      border: 1.5px solid blueviolet;
      border-radius: 10px;
      transition: .3s;
    }

    button:hover {
      justify-content: center;
      background-color: rgb(238, 201, 245);
      color: blueviolet;
      border: 1.5px solid blueviolet;
    }

  #existing_account {
    margin: 5vh 0;
  }
